diffusers==0.30.0
numpy==1.26.4
transformers==4.37.2
accelerate
safetensors
einops
onnxruntime-gpu
spaces==0.19.4
omegaconf
peft
huggingface-hub
opencv-python
insightface
gradio
controlnet_aux
gdown
peft
mediapipe
torch==2.5.0
